
.idea/*
.gitignore
.idea/compiler.xml
.idea/copyright/
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/modules/
.idea/sbt.xml
.idea/scala_compiler.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/vcs.xml
project/project/
project/target/
src/main/java/
src/main/scala-2.10/
target/
src/test/
/.idea/vcs.xml
/.idea/
