div#header-mobile-link {
    text-align: center;
    align-content: center;
    align-self: center;
    color: currentColor;
    table-layout: auto;
    font: caption;
    font-size: -webkit-xxx-large;
    font-variant: small-caps;
    font-style: italic;
    font-family: fantasy;
}

header {
    background-color: rgba(226, 219, 207, 0.5);
    border-bottom: #5a534b;
    border-bottom-style: solid;
}


span.date {tab-size: initial;font-size: inherit;background-color: #f3e1e1;}

article {
    color: darkblue;
    background-color: beige;
    margin-left: 20%;
    margin-right: 20%;
}

section#left {
    background: #55b5b5;
    width: initial;
    height: 100%;
    align-self: flex-start;
}

div#core {
    background-color: #e5e6e6;
    margin-right: auto;
    height: 100%;
}

section#right {
    background-color: aqua;
}

footer {
    text-align: center;
    background-color: #d6cdc1;
    align-self: flex-end;
    height: 54px;
    float: left;
    width: 100%;
}

body {
    margin: 0px;
}

div#wrapper {
    height: 100%;
}

html.gr__localhost {
    width: 100%;
    height:100%;
}

section#article {
    margin-left: 20%;
    margin-right: 20%;
    background-color: cornsilk;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

content {
    float: left;
    margin-left: 10%;
}

article.a {
    margin-left: 5px;
}
